<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969350235312-lh9s7duasq60rkrotdiks65hqt7n18gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969350235312-lh9s7duasq60rkrotdiks65hqt7n18gh</string>
	<key>API_KEY</key>
	<string>AIzaSyDrIbC9z1AlkyER_TuGteecmRrcGLOovso</string>
	<key>GCM_SENDER_ID</key>
	<string>969350235312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uzbek.flutter.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-621bb</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-621bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969350235312:ios:c403fa74cfe4b390a8e775</string>
	<key>DATABASE_URL</key>
	<string>https://movieapp-621bb-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>